.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--page-padding);
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.picture {
  border-radius: 50%;
}
