.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--page-padding);
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profileContainer > span {
  color: var(--hover-color);
  opacity: 0.6;
  transition: opacity var(--animation-hover-time) linear;
}

.profileContainer:hover > span {
  opacity: 1;
}

.blogLink {
  color: var(--hover-color);
  opacity: 0.6;
  transition: opacity var(--animation-hover-time) linear;
}

.blogLink:hover {
  opacity: 1;
}

.picture {
  border-radius: 50%;
}
