.container {
  position: relative;

  padding: 1rem;
  background-color: var(--bg-color);
  box-shadow: 0 0 25px var(--bg-color), 0 0 29px var(--bg-color),
    0 0 30px var(--bg-color);
  border-radius: var(--border-radius);

  display: flex;
  gap: 2rem;
}

.left {
  flex-basis: 100%;
}

.left > h3 {
  margin-bottom: 1rem;
}

.right {
  position: relative;
  flex-basis: 100%;
}

.right svg {
  min-width: 128px;
  max-width: 256px;
  transition: transform 0.1s ease-in-out;
}

.right svg:hover {
  transform: scale(1.2);
}

.description {
  color: lightgray;
}

.links {
  display: flex;
  gap: 0.5rem;
}

.technologies svg {
  position: absolute;
  top: 0;
  right: -100;
  transition: transform 0.1s ease-in-out;
}

.technologies svg:hover {
  transform: scale(1.05);
}

.technologies svg:nth-child(1) {
  rotate: 6deg;
}

.technologies svg:nth-child(2) {
  rotate: 12deg;
}

.technologies svg:nth-child(3) {
  rotate: -5deg;
}

.technologies svg:nth-child(4) {
  rotate: 3deg;
}
