.root {
  --knob-color: var(--white);
  --switch-color: var(--white);
  --switch-border-width: 2px;
  --switch-width: 40px;
  --switch-height: 20px;
  display: flex;
}

.switch {
  position: relative;
  display: inline-block;
  border: var(--switch-border-width) solid var(--switch-color);
  border-radius: calc(var(--switch-width) / 2);
  height: var(--switch-height);
  width: var(--switch-width);
}

.knob {
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  border-radius: 50%;
  height: calc(var(--switch-height) - var(--switch-border-width) * 2 - 4px);
  width: calc(var(--switch-height) - var(--switch-border-width) * 2 - 4px);
  background: var(--knob-color);
  transition: left ease-in-out 200ms, background-color ease-in-out 200ms;
}

.root[aria-checked="true"] .knob {
  left: calc(var(--switch-width) - var(--switch-height) + 2px);
}

.root:focus-visible,
.root:hover {
  cursor: pointer;
}
