.background {
  background-image: radial-gradient(
    var(--bg-dot-color) 20%,
    var(--bg-color) 20%
  );
  background-position: 0 0;
  background-size: 30px 30px;
  min-height: 100vh;
}

.container {
  position: relative;
  padding: 1rem;
  display: flex;
  gap: 2rem;
}

.right > h3 {
  margin-bottom: 1rem;
}

.description {
  color: var(--side-text-color);
}

.links {
  display: flex;
  gap: 0.5rem;
}
