.card {
  transition: transform 0.1s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover .title {
  opacity: 1;
}

.title {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  font-size: 0.5rem;
}
