.container {
  padding: 1rem;
  display: grid;
  grid-template-areas:
    "title profile"
    "description description";
  place-items: center;
  gap: 1rem;
}

@media (min-width: 20rem) {
  .container {
    grid-template-areas:
      "title profile"
      "description profile";
  }
}

.title {
  grid-area: title;
}

.description {
  grid-area: description;
}

.profile {
  grid-area: profile;
  min-width: 6rem;
  max-width: 14rem;
  border-radius: 50%;
}
