.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.title {
  font-size: 9vw;
  color: var(--title-1);
  text-shadow: 2px 2px 0px var(--title-2), 0px 0px 6px var(--title-1),
    0px 0px 150px var(--title-1);
  font-style: italic;

  opacity: 1;

  animation-name: title-anim;
  animation-duration: 2s;
}

@keyframes title-anim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.subtitle {
  position: absolute;
  font-size: 9vw;
  rotate: -7deg;
  translate: -50% -60%;
  color: var(--subtitle);
  text-shadow: 0px 0px 6px var(--subtitle), 0px 0px 100px var(--subtitle);

  opacity: 1;
  animation-name: subtitle-anim;
  animation-duration: 2s;
}

@keyframes subtitle-anim {
  0% {
    opacity: 0;
    translate: -50% -45%;
  }
  75% {
    opacity: 0;
    translate: -50% -45%;
  }
  100% {
    opacity: 1;
    translate: -50% -60%;
  }
}
