---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Roni Tuohino" description="Hey, need a website? Hit me up!">
  <main>
    <header class="header">
      <div class="title">
        <div class="intro">Hi, my name is</div>
        <h1 class="name">Roni Tuohino</h1>
      </div>
    </header>
    <section id="content" class="about">
      I fell into the programming rabbit hole in 2016 when I fiddled around
      making indie games alongside school. In 2021, I started university, and my
      interest shifted to web development.
      <br /><br />
      I’ve enjoyed working on projects in school and as a freelancer. I’ve also gotten
      the privilege of working in Sanoma, where I’m currently developing ruutu.fi
      and supla.fi web applications.
      <br /><br />
      Alongside programming, I’ve also fallen in love with climbing. Now I’m trying
      to get comfortable with Lead, albeit terrifying!
    </section>
  </main>
</Layout>
