---
import Layout from "@layouts/Layout.astro";

import Link from "@components/Link.astro";
import Bento from "@components/Bento.astro";
import Project from "@components/Project.astro";
import { Switch } from "@components/Switch";

import battleSheep from "@pages/projects/battle-sheep/battle-sheep.png";
import gparticles from "@pages/projects/gparticles/gparticles.png";
import doodleDesign from "@pages/projects/doodle-design/doodle-design.png";
import viitevarasto from "@pages/projects/viitevarasto/viitevarasto.png";

import {
  TbBrandGithub,
  TbBrandLinkedin,
  TbMail,
  TbCertificate,
} from "solid-icons/tb";
---

<Layout title="Roni Tuohino" description="Hey, need a website? Hit me up!">
  <main id="content">
    <ul class="boxes">
      <Bento class="about">
        <Link
          href="/about"
          target="_self"
          class:list={["bento-content", "about-content"]}
        >
          Roni Tuohino
        </Link>
      </Bento>

      <Bento>
        <ul class="socials-content">
          <li>
            <Link
              ariaLabel="My Github profile"
              href="https://github.com/ronituohino"
              class="social-link"
            >
              <TbBrandGithub class="github-icon" />
            </Link>
          </li>

          <li>
            <Link
              ariaLabel="My LinkedIn profile"
              href="https://www.linkedin.com/in/ronituohino/"
              class="social-link"
            >
              <TbBrandLinkedin class="linkedin-icon" />
            </Link>
          </li>

          <li>
            <Link
              ariaLabel="Send me an email"
              href="mailto:tuohinoroni@gmail.com"
              class="social-link"
            >
              <TbMail class="email-icon" />
            </Link>
          </li>
        </ul>
      </Bento>

      <Bento>
        <Switch client:load />
      </Bento>

      <Bento>
        <Link
          href="/ronituohino-resume.pdf"
          class:list={["bento-content", "resume-content"]}
        >
          <TbCertificate class="resume-icon" />
          Résumé
        </Link>
      </Bento>

      <Bento>Archive</Bento>

      <Project
        title="Doodle Design"
        href="/projects/doodle-design"
        img={doodleDesign}
      />

      <Project
        title="Viitevarasto"
        href="/projects/viitevarasto"
        img={viitevarasto}
      />

      {
        /*
          <Project title="Ruutu" href="/projects/ruutu" />
        <Project title="Supla" href="/projects/supla" />
        <Project title="Chroniconnect" href="/projects/sanoma" />
        <Project title="SCAS" href="/projects/scas" />
          */
      }

      <Project
        title="Battle Sheep and so on"
        href="/projects/battle-sheep"
        img={battleSheep}
      />
      <Project
        title="GParticles"
        href="/projects/gparticles"
        img={gparticles}
      />
    </ul>

    <Bento><Link target="_self" href="/projects">Archive</Link></Bento>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 var(--content-padding);
  }
  .boxes {
    --min-size: 11.467rem;
    --max-size: 11.467rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--min-size), var(--max-size))
    );
    grid-gap: 1rem;
  }
  .bento-content {
    display: block;
    min-height: 100%;
  }

  .about {
    grid-column: 1 / 3;
  }
  .about-content {
    text-align: center;
    background-color: yellow;
  }

  .resume-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: orangered;
  }
  .resume-icon {
    font-size: 3rem;
    stroke-width: 1.5;
  }

  .socials-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    min-height: 100%;
    background-color: darkblue;
  }
  .social-link {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .github-icon {
    font-size: 2rem;
  }
  .linkedin-icon {
    font-size: 2rem;
  }
  .email-icon {
    font-size: 2rem;
  }
</style>
