---
import Layout from "@layouts/Layout.astro";

import Link from "@components/Link.astro";

import Header from "@components/Header.astro";
import Project from "@components/Project.astro";

import battleSheep from "@pages/projects/battle-sheep/battle-sheep.png";
import gparticles from "@pages/projects/gparticles/gparticles.png";
import doodleDesign from "@pages/projects/doodle-design/doodle-design.png";
import viitevarasto from "@pages/projects/viitevarasto/viitevarasto.png";
---

<Layout title="Roni Tuohino" description="Hey, need a website? Hit me up!">
  <Header />
  <main id="content">
    <section class="about">
      I fell into the programming rabbit hole in 2016 when I fiddled around
      making indie games alongside school. In 2021, I started university, and my
      interest shifted to web development.
      <br /><br />
       I’ve enjoyed working on projects in school and as a freelancer. I’ve also
      gotten the privilege of working in Sanoma, where I’m currently developing
      ruutu.fi and supla.fi web applications.
      <br /><br />
       Alongside programming, I’ve also fallen in love with climbing. Now I’m
      trying to get comfortable with Lead, albeit terrifying!
    </section>

    <section class="projects">
      <ul class="featured projects-list">
        <Project
          title="Doodle Design"
          href="/projects/doodle-design"
          img={doodleDesign}
        />

        <Project
          title="Viitevarasto"
          href="/projects/viitevarasto"
          img={viitevarasto}
        />
      </ul>

      <ul class="projects-list">
        <Project title="Ruutu" href="/projects/ruutu" />
        <Project title="Supla" href="/projects/supla" />
        <Project title="Chroniconnect" href="/projects/sanoma" />
        <Project title="SCAS" href="/projects/scas" />
        <Project
          title="Battle Sheep"
          href="/projects/battle-sheep"
          img={battleSheep}
        />
        <Project
          title="GParticles"
          href="/projects/gparticles"
          img={gparticles}
        />
      </ul>

      <div class="archive">
        <Link target="_self" href="/projects">See full project archive</Link>
      </div>
    </section>

    <section class="contact">
      For the time being, I’m not actively looking for work. However, my inbox
      is always open if you want to chat about cool projects or just say hi

      <button>Send me a message</button>
    </section>
  </main>
</Layout>

<style>
  .about {
    color: var(--gray);
  }

  #content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 var(--content-padding);
  }
  .projects-list {
    --project-card-max-width: 11.467rem;
    --project-card-min-width: 6rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--project-card-min-width), var(--project-card-max-width))
    );
    grid-gap: 1rem;
  }
  .featured {
    --project-card-max-width: 17.7rem;
    margin-bottom: 1rem;
  }
  .archive {
    margin-top: 0.5rem;
    text-align: center;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
</style>
