---
import Layout from "@layouts/Layout.astro";

import Link from "@components/Link.astro";
import {
  FaBrandsGithub,
  FaBrandsLinkedin,
  FaSolidEnvelope,
  FaSolidArrowDown,
} from "solid-icons/fa";

import { Description } from "@components/Description";
import Project from "@components/Project.astro";

import battleSheep from "@pages/projects/battle-sheep/battle-sheep.png";
import gparticles from "@pages/projects/gparticles/gparticles.png";
import recom from "@pages/projects/recom/recom.png";
import viitevarasto from "@pages/projects/viitevarasto/viitevarasto.png";
---

<Layout title="Roni Tuohino" description="Hey, need a website? Hit me up!">
  <header class="header">
    <div class="title">
      <div class="intro">Hi, my name is</div>
      <h1 class="name">
        <Link target="_self" href="/">Roni Tuohino</Link>
      </h1>
      <Description class="description" client:load>
        <h2 slot="first" class="description">I'm a fullstack developer</h2>
        <h2 slot="second" class="description">I'm a web developer</h2>
        <h2 slot="third" class="description">
          I create sites on the interwebs
        </h2>
      </Description>
    </div>

    <ul class="links">
      <li>
        <Link variant="button" href="/ronituohino-cv.pdf">
          <FaSolidArrowDown class:list={["icon", "resume-arrow-icon"]} />
           Résumé
        </Link>
      </li>

      <li>
        <Link
          variant="icon"
          ariaLabel="My github profile"
          href="https://github.com/ronituohino"
        >
          <FaBrandsGithub class="icon" />
        </Link>
      </li>

      <li>
        <Link
          variant="icon"
          ariaLabel="My linkedin profile"
          href="https://www.linkedin.com/in/ronituohino/"
        >
          <FaBrandsLinkedin class="icon" />
        </Link>
      </li>

      <li>
        <Link
          variant="icon"
          ariaLabel="Send me an email"
          href="mailto:tuohinoroni@gmail.com"
        >
          <FaSolidEnvelope class:list={["icon", "email-icon"]} />
        </Link>
      </li>
    </ul>
  </header>
  <main id="content">
    <section class="about">
      I fell into the programming rabbit hole in 2016 when I fiddled around
      making indie games alongside school. In 2021, I started university, and my
      interest shifted to web development.
      <br /><br />
       I’ve enjoyed working on projects in school and as a freelancer. I’ve also
      gotten the privilege of working in Sanoma, where I’m currently developing
      ruutu.fi and supla.fi web applications.
      <br /><br />
       Alongside programming, I’ve also fallen in love with climbing. Now I’m
      trying to get comfortable with Lead, albeit terrifying!
    </section>

    <section class="projects">
      <ul class="featured projects-list">
        <Project
          title="Doodle Design"
          href="/projects/doodle-design"
          img={recom}
        />

        <Project
          title="Viitevarasto"
          href="/projects/viitevarasto"
          img={viitevarasto}
        />
      </ul>

      <ul class="projects-list">
        <Project title="Ruutu" href="/projects/ruutu" />
        <Project title="Supla" href="/projects/supla" />
        <Project title="Chroniconnect" href="/projects/sanoma" />
        <Project title="SCAS" href="/projects/scas" />
        <Project
          title="Battle Sheep"
          href="/projects/battle-sheep"
          img={battleSheep}
        />
        <Project
          title="GParticles"
          href="/projects/gparticles"
          img={gparticles}
        />
      </ul>

      <div class="archive">
        <Link target="_self" href="/projects">See full project archive</Link>
      </div>
    </section>

    <section class="contact">
      For the time being, I’m not actively looking for work. However, my inbox
      is always open if you want to chat about cool projects or just say hi

      <button>Send me a message</button>
    </section>
  </main>
</Layout>

<style>
  .header {
    margin-top: 12rem;
    margin-bottom: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 var(--content-padding);
  }
  .name {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.9;
    margin-left: -4px;
    margin-right: -4px;
  }
  .intro,
  .description {
    font-size: 1.25rem;
    font-weight: 700;
  }
  .description {
    align-self: center;
  }
  @media only screen and (min-width: calc(600px + 2rem)) {
    .title {
      text-align: left;
    }
    .description {
      align-self: flex-end;
    }
  }
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }
  .icon {
    font-size: 2.25rem;
    color: var(--white);
  }
  .resume-arrow-icon {
    font-size: 1rem;
  }
  .email-icon {
    font-size: 2.5rem;
  }

  .about {
    color: var(--gray);
  }

  #content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 var(--content-padding);
  }
  .projects-list {
    --project-card-max-width: 11.467rem;
    --project-card-min-width: 6rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--project-card-min-width), var(--project-card-max-width))
    );
    grid-gap: 1rem;
  }
  .featured {
    --project-card-max-width: 17.7rem;
    margin-bottom: 1rem;
  }
  .archive {
    margin-top: 0.5rem;
    text-align: center;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
</style>
