---
import Link from "@components/Link.astro";
import Layout from "@layouts/Layout.astro";
import "swiper/css";
import "swiper/css/pagination";

import { projects } from "./projects/projects";
---

<Layout
  title="Roni Tuohino"
  description="Hey, need a website or service? Hit me up!"
>
  <main>
    <div class="swiper">
      <ol class="swiper-wrapper">
        {
          projects.map((project) => {
            return (
              <li class="swiper-slide">
                <Link target="_self" href={`/projects/${project.slug}`}>
                  {project.title}
                </Link>
              </li>
            );
          })
        }
      </ol>
      <div class="bg"></div>

      <img class="project-image" />
    </div>
  </main>
</Layout>

<script>
  import Swiper from "swiper";
  import { Mousewheel, Keyboard } from "swiper/modules";
  import { projects } from "./projects/projects";

  const shownProjects = projects.filter((p) => !p.hidden);

  const swiper = new Swiper(".swiper", {
    modules: [Mousewheel, Keyboard],
    direction: "vertical",
    slidesPerView: 3,
    centeredSlides: true,
    initialSlide: parseInt(localStorage.getItem("activeSlide") || "0"),

    grabCursor: true,
    mousewheel: true,
    keyboard: true,
    slideToClickedSlide: true,

    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
    },
  });

  swiper.on("sliderMove", (s) => {});
  swiper.on("slideChange", (s) => {
    const index = s.activeIndex;
    localStorage.setItem("activeSlide", index.toString());

    const project = shownProjects[index];
  });
</script>

<style>
  main {
    height: 100%;
    position: relative;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-wrapper {
    height: auto;
  }
  .swiper-wrapper::before,
  .swiper-wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .swiper-wrapper::before {
    transform: translateY(-100%);
  }
  .swiper-wrapper::after {
    transform: translateY(100%);
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: end;
    background-color: blue;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .bg {
    width: 100%;
    height: 100%;
  }
</style>
