---
import Layout from "@layouts/Layout.astro";

import Link from "@components/Link.astro";
import GitHub from "@components/Icons/GitHub.astro";
import LinkedIn from "@components/Icons/LinkedIn.astro";
import Email from "@components/Icons/Email.astro";

import { Description } from "@components/Description";
import Project from "@components/Project.astro";
import FeaturedProject from "@components/FeaturedProject.astro";

import battleSheep from "@pages/projects/battle-sheep/battle-sheep.png";
import gparticles from "@pages/projects/gparticles/gparticles.png";
import recom from "@pages/projects/recom/recom.png";
import viitevarasto from "@pages/projects/viitevarasto/viitevarasto.png";
import Tag from "@components/Tag.astro";
---

<Layout title="Roni Tuohino" description="Hey, need a website? Hit me up!">
  <header class="header">
    <div class="intro">Hi, my name is</div>
    <h1 class="name">Roni Tuohino</h1>
    <Description client:load>
      <h2 slot="first" class="description">I'm a fullstack developer</h2>
      <h2 slot="second" class="description">I'm a web developer</h2>
      <h2 slot="third" class="description">I create sites on the interwebs</h2>
    </Description>

    <div class="links">
      <Link
        variant="icon"
        ariaLabel="My github profile"
        href="https://github.com/ronituohino"
      >
        <GitHub title="" />
      </Link>

      <Link
        variant="icon"
        ariaLabel="My linkedin profile"
        href="https://www.linkedin.com/in/ronituohino/"
      >
        <LinkedIn title="" />
      </Link>

      <Link
        variant="icon"
        ariaLabel="Send me an email"
        href="mailto:tuohinoroni@gmail.com"
      >
        <Email title="" />
      </Link>
    </div>
  </header>

  <section class="about">
    I fell into the programming rabbit hole in 2016 when I fiddled around making
    indie games alongside school. In 2021, I started university, and my interest
    shifted to web development.
    <br /><br />
     I’ve enjoyed working on projects in school and as a freelancer. I’ve also
    gotten the privilege of working in Sanoma, where I’m currently developing
    ruutu.fi and supla.fi web applications.
    <br /><br />
     Alongside programming, I’ve also fallen in love with climbing. Now I’m
    trying to get comfortable with Lead, albeit terrifying!
  </section>

  <section>
    <ul class="featured-projects">
      <FeaturedProject title="Recom" href="/projects/recom" img={recom}>
        <ul slot="tags"><Tag>Test</Tag></ul>
      </FeaturedProject>
      <FeaturedProject
        title="Viitevarasto"
        href="/projects/viitevarasto"
        img={viitevarasto}
      />
    </ul>
  </section>

  <section>
    <ul class="projects">
      <Project title="Sanoma" href="/projects/sanoma" />
      <Project title="SCAS" href="/projects/scas" />
      <Project
        title="Battle Sheep"
        href="/projects/battle-sheep"
        img={battleSheep}
      />
      <Project
        title="GParticles"
        href="/projects/gparticles"
        img={gparticles}
      />
    </ul>
  </section>

  <section class="contact">
    For the time being, I’m not actively looking for work. However, my inbox is
    always open if you want to chat about cool projects or just say hi

    <button>Send me a message</button>
  </section>
</Layout>

<style>
  .header {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  .name {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.9;
    margin-left: -4px;
    margin-right: -4px;
  }
  .intro,
  .description {
    font-size: 1.25rem;
  }
  .links {
    align-self: center;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .links > a {
    width: 2rem;
  }

  .about {
    color: var(--gray);
    margin-bottom: 8rem;
  }

  .featured-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  .projects {
    --project-card-width: 15rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, var(--project-card-width));
    grid-gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 4rem;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
</style>
