---
import Layout from "@layouts/Layout.astro";

import Link from "@components/Link.astro";
import GitHub from "@components/Icons/GitHub.astro";
import LinkedIn from "@components/Icons/LinkedIn.astro";
import Email from "@components/Icons/Email.astro";

import ProjectCard from "@components/ProjectCard.astro";
import { Description } from "@components/Description";
import battleSheep from "@pages/projects/battle-sheep/battle-sheep.png";
import gparticles from "@pages/projects/gparticles/gparticles.png";
import recom from "@pages/projects/recom/recom.png";
import viitevarasto from "@pages/projects/viitevarasto/viitevarasto.png";
---

<Layout title="Roni Tuohino" description="Hey, need a website? Hit me up!">
  <section>
    <header>
      <h1>
        Hi, I'm
        <div class="roni">.</div>
      </h1>
      <Description client:load>
        <h2 slot="first">I'm a fullstack engineer</h2>
        <h2 slot="second">I'm a web developer</h2>
        <h2 slot="third">I make stuff</h2>
      </Description>
    </header>

    <div class="links">
      <Link
        variant="icon"
        ariaLabel="My github profile"
        href="https://github.com/ronituohino"
      >
        <GitHub title="" />
      </Link>

      <Link
        variant="icon"
        ariaLabel="My linkedin profile"
        href="https://www.linkedin.com/in/ronituohino/"
      >
        <LinkedIn title="" />
      </Link>

      <Link
        variant="icon"
        ariaLabel="Send me an email"
        href="mailto:tuohinoroni@gmail.com"
      >
        <Email title="" />
      </Link>
    </div>
  </section>

  <section>
    <h2>Projects</h2>
    <ul class="projects">
      <ProjectCard title="Sanoma" href="/projects/sanoma" />
      <ProjectCard title="SCAS" href="/projects/scas" />
      <ProjectCard title="Recom" href="/projects/recom" img={recom} />
      <ProjectCard
        title="Viitevarasto"
        href="/projects/viitevarasto"
        img={viitevarasto}
      />
      <ProjectCard
        title="Battle Sheep"
        href="/projects/battle-sheep"
        img={battleSheep}
      />
      <ProjectCard
        title="GParticles"
        href="/projects/gparticles"
        img={gparticles}
      />
    </ul>
  </section>
</Layout>

<style>
  h1 {
  }

  .roni {
    font-size: 4rem;
    font-weight: 600;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .links > a {
    width: 2rem;
  }

  .projects {
    --project-card-width: 15rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, var(--project-card-width));
    grid-gap: 1rem;
    flex-wrap: wrap;
  }
</style>
