@keyframes show {
  from {
    translate: 0 -100%;
  }
  to {
    translate: 0 0;
  }
}

.enabledButton,
.disabledButton {
  display: block;
  font-size: 0;
  position: relative;
  animation: show 1s ease-in-out forwards;
}

.disabledButton {
  top: 0.2rem;
  cursor: default;
}

.enabledButton {
  transition: transform 0.1s ease-in-out;
}

.enabledButton:focus-visible,
.enabledButton:hover {
  transform: translate(0, 0.2rem);
}

.disabledButton > path {
  fill: var(--svg-stroke-color);
}

.disabledButton > text {
  fill: var(--svg-bg-color);
}
