.description {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

@media only screen and (min-width: 672px) {
  .description {
    align-self: flex-end;
  }
}

.button {
  border-radius: 50%;
  display: flex;
}

.icon {
  font-size: 1.5rem;
}
