.footerBackground::before {
  content: "";
  height: 12px;
  width: 100vw;
  position: absolute;
  background: url("/pictures/line-dark.svg") repeat-x top;
  background-size: auto 100%;
}

.footerBackground::before {
  z-index: 1;
  top: -6px;
}

[data-theme="light"] .footerBackground::before {
  background: url("/pictures/line-light.svg") repeat-x top;
  background-size: auto 100%;
}

.footerBackground {
  position: relative;
  width: 100%;
  background-color: var(--bg-color);
}

.footer {
  padding: 1rem;
}
