---
type Props = {
  class?: string;
};
const { class: className } = Astro.props;
---

<li class:list={["bento", className]}>
  <slot />
</li>

<style>
  .bento {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
  }
</style>
