---
type Props = {
  class?: string;
  "transition:name"?: string;
};
const { class: className, "transition:name": transitionName } = Astro.props;
---

<li transition:name={transitionName} class={className}>
  <slot />
</li>

<style>
  li {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
  }
</style>
