---
type Props = {
  class?: string;
  "transition:name"?: string;
};
const { class: className, "transition:name": transitionName } = Astro.props;
---

<li transition:name={transitionName} class={className}>
  <slot />
</li>

<style>
  li {
    position: relative;
    overflow: hidden;
    background-color: var(--black);
    outline: 2px solid var(--white);
  }
</style>
