---
import { Image } from "astro:assets";
import Link from "./Link.astro";
import type { ImageMetadata } from "astro";

type Props = {
  title: string;
  href: string;
  img?: ImageMetadata;
};
const { title, href, img } = Astro.props;
---

<li class="project glass">
  <Link href={href} target="_self" class="link" variant="unstyled">
    <h3 class="title">{title}</h3>
    {img && <Image alt="" src={img} class="image" />}
  </Link>
  <div class="tags">
    <slot name="tags" />
  </div>
  <div class="links">
    <slot name="links" />
  </div>
</li>

<style>
  .project {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    margin: 1rem;
  }

  .title {
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--white);
  }

  .image {
    border-radius: var(--border-radius);
    --image-margin: 1rem;
    margin: var(--image-margin);
    margin-top: 0;
    max-width: calc(100% - 2 * var(--image-margin));
  }

  .tags {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
  }
</style>
