---
type Props = {
  href: string;
  target?: "_blank" | "_self" | "_parent" | "_top";
  class?: string;
  ariaLabel?: string;
};
const { href, target, class: className, ariaLabel } = Astro.props;
---

<a
  href={href}
  target={target ? target : "_blank"}
  aria-label={ariaLabel}
  class:list={[className]}
>
  <slot />
</a>
