---
import { Image } from "astro:assets";
import Link from "./Link.astro";
import type { ImageMetadata } from "astro";

type Props = {
  title: string;
  href: string;
  img: ImageMetadata;
};
const { title, href, img } = Astro.props;
---

<li class="project">
  <Link href={href} target="_self" class="link">
    <Image alt="" src={img} class="image" />
    <span class="title">{title}</span>
  </Link>
</li>

<style>
  .project {
    position: relative;
  }
  .link {
    display: block;
  }
  .image {
    max-width: 15rem;
    max-height: 15rem;
  }
  .title {
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
</style>
