---
import { projects } from "./projects";

export function getStaticPaths() {
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { slug } = Astro.params;
const { project } = Astro.props;
---

<div>{slug}: {project.description}</div>
