.background {
  background-color: var(--bg-color);
  background: repeating-linear-gradient(
    -45deg,
    var(--bg-stripe-color),
    var(--bg-stripe-color) 5px,
    var(--bg-color) 5px,
    var(--bg-color) 25px
  );
  min-height: 100vh;
}

.main {
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
}
