.navContainer {
  overflow: hidden;
  position: relative;
  height: 4.5rem;
}

.links {
  position: absolute;
  display: flex;
  gap: 0.25rem;
  left: 0.5rem;
  top: -1.2rem;
}

.links > * {
  width: 6rem;
}

.themeSwitch {
  position: absolute;
  top: -3rem;
  right: -2.5rem;
  width: 6rem;
}

.footerBackground::before {
  content: "";
  height: 12px;
  width: 100vw;
  position: absolute;
  background: url("/pictures/line-dark.svg") repeat-x top;
  background-size: auto 100%;
}

.footerBackground::before {
  z-index: 1;
  top: -6px;
}

[data-theme="light"] .footerBackground::before {
  background: url("/pictures/line-light.svg") repeat-x top;
  background-size: auto 100%;
}

.footerBackground {
  position: relative;
}

.footer {
  padding: 1rem;
  padding-top: calc(1rem + 3px);
}
