.container {
  width: 100vw;
  height: 100vh;
}

.links {
  display: flex;
  gap: 16px;
}

.title {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  width: 300px;
}

.recom {
  position: absolute;
  width: 320px;
}

.viitevarasto {
  position: absolute;
  width: 320px;
}

.battleSheep {
  position: absolute;
  width: 320px;
}

.gparticles {
  position: absolute;
  width: 320px;
}
