.container {
  overflow: hidden;
  position: relative;
}

.headerBackground {
  background-color: var(--bg-color);
}

.header {
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 82rem;
  padding: 1rem;
}

.title {
  margin-bottom: 1rem;
}

.happy {
  margin-inline-start: 1rem;
}

.description {
  color: var(--text-side-color);
}

@media (min-width: 43rem) {
  .header {
    max-width: 43rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.themeSwitch {
  position: absolute;
  top: -4.6rem;
  right: -4.6rem;
  width: 10rem;
}

.projectsBackground::before {
  content: "";
  height: 12px;
  width: 100vw;
  position: absolute;
  background: url("/pictures/line.svg") repeat-x top;
  background-size: auto 100%;
  top: -6px;
}

.projectsBackground {
  background-image: url("/pictures/pattern.svg");
  background-position: 0 0;
  background-color: var(--bg-color);
  background-size: 200px 200px;
  position: relative;
}

.projects {
  margin: 0 auto;
  max-width: 82rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 280px));
  place-items: center;
  justify-content: center;
  grid-gap: 1rem;
}

.projectsBackground::after {
  content: "";
  height: 12px;
  width: 100vw;
  position: absolute;
  background: url("/pictures/line.svg") repeat-x top;
  background-size: auto 100%;
  bottom: -6px;
}

.footerBackground {
  background-color: var(--bg-color);
}

.footer {
  margin: 0 auto;
  max-width: 82rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer > a {
  transition: transform 0.1s ease-in-out;
}

.footer > a:hover:nth-child(odd) {
  transform: scale(1.1) rotate(10deg);
}

.footer > a:hover:nth-child(even) {
  transform: scale(1.1) rotate(-10deg);
}
