.card {
  transition: transform 0.1s ease-in-out;
  position: relative;
}

.card:hover {
  transform: scale(1.03);
}

.card:hover .title,
.link:focus-visible .title {
  opacity: 1;
}

.card:hover .backdrop,
.link:focus-visible .backdrop {
  opacity: 0.6;
}

.title {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  font-size: 10px;
  fill: var(--white);
}

.backdrop {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
