.card {
  display: block;
  font-size: 0;
  position: relative;
  transition: transform 0.1s ease-in-out;
}

.card:hover,
.card:focus-visible {
  transform: scale(1.03);
}

.card:hover .title,
.card:focus-visible .title,
.card:hover .backdrop,
.card:focus-visible .backdrop {
  opacity: 0;
}

.title {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  font-size: 10px;
  fill: var(--white);
}

.backdrop {
  opacity: 0.6;
  transition: opacity 0.1s ease-in-out;
}
