---
import "@fontsource-variable/inter";

import Link from "@components/Link.astro";
import DarkMode from "@components/DarkMode.astro";

import {
  TbBrandGithub,
  TbBrandLinkedin,
  TbMail,
  TbCertificate,
} from "solid-icons/tb";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <Link target="_self" href="/" class="index-link">Roni Tuohino</Link>
      <DarkMode />
    </nav>
    <main>
      <slot />
    </main>
    <footer>
      <ul class="links">
        <li>
          <Link
            ariaLabel="My Github profile"
            href="https://github.com/ronituohino"
            class="link"
          >
            <TbBrandGithub class="icon" />
          </Link>
        </li>
        <li>
          <Link
            ariaLabel="My LinkedIn profile"
            href="https://www.linkedin.com/in/ronituohino/"
            class="link"
          >
            <TbBrandLinkedin class="icon" />
          </Link>
        </li>
        <li>
          <Link
            ariaLabel="Send me an email"
            href="mailto:tuohinoroni@gmail.com"
            class="link"
          >
            <TbMail class="icon" />
          </Link>
        </li>
        <li>
          <Link
            ariaLabel="Look at my résumé"
            href="/ronituohino-resume.pdf"
            class="button-link"
          >
            Resume
          </Link>
        </li>
      </ul>
    </footer>

    <style>
      nav {
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;
      }
      .index-link {
        padding: 0.4rem 0.5rem;
        transition: padding ease-in-out 200ms;
        font-size: 1.1rem;
        white-space: nowrap;
      }
      @media screen and (min-width: 1042px) {
        .index-link {
          padding: 0.4rem 0;
        }
      }
      main {
        border: 2px solid var(--white);
        height: 100%;
        overflow: hidden;
      }

      .links {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 0.25rem;
      }
      .link {
        display: flex;
      }
      .icon {
        font-size: 2rem;
      }
      .button-link {
        border: 2px solid var(--white);
        border-radius: var(--border-radius);
        padding: 0.3rem 0.5rem;
      }
    </style>
    <style is:global>
      :root {
        /* Colors */
        --white: hsl(0, 0%, 92%);
        --black: hsl(0, 0%, 8%);
        --inactive: hsl(0, 0%, 30%);

        --border-radius: 16px;

        font-size: 20px;
        color: var(--white);
        background: var(--black);
      }

      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
      }

      html {
        font-family: "Inter Variable", Ubuntu, sans-serif;
        font-weight: 600;
      }
      body {
        margin: 0 auto;
        max-width: 1024px;
        height: 100vh;
        display: flex;
        flex-direction: column;
      }

      ul,
      li {
        list-style-type: none;
      }

      button {
        cursor: pointer;
      }

      a {
        text-decoration: none;
      }

      img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        font-style: italic;
      }
    </style>
  </body>
</html>
