---
import "@fontsource-variable/nunito";
import { ViewTransitions } from "astro:transitions";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        /* Colors */
        --white: #f0f0f0;
        --gray: #6e6e6e;
        --black: #181818;

        --text-color: var(--white);

        --link-color: #db8fe2;
        --link-hover-color: #b324ab;

        --svg-bg-color: var(--black);
        --svg-stroke-color: var(--white);

        --outline-color: #0cf104;
        --outline: outline: 8px dashed var(--outline-color);

        /* Breakpoints */
        --xl: 1280px;
        --lg: 1024px;
        --md: 768px;
        --sm: 640px;

        --border-radius: 16px;
        --shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;

        font-size: 20px;
        color: var(--text-color);
        background: linear-gradient(
          180deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(9, 9, 121, 1) 35%,
          rgba(0, 212, 255, 1) 100%
        );
      }

      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
      }

      html {
        font-family: "Nunito Variable", Ubuntu, sans-serif;
        font-weight: 600;
      }

      /* Disable horizontal scroll on mobile */
      :root,
      body {
        overflow-x: hidden;
      }
      /* Disable Safari overscroll */
      html,
      body {
        overscroll-behavior-y: none;
      }

      body {
        margin: 0 auto;
        max-width: var(--md);
        display: flex;
        flex-direction: column;
        padding: 1rem;
      }

      ul,
      li {
        list-style-type: none;
      }

      a {
        text-decoration: none;
      }

      .glass {
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.7px);
        -webkit-backdrop-filter: blur(8.7px);
        border: 1px solid rgba(255, 255, 255, 0.3);
      }
    </style>
  </body>
</html>
