---
import "@fontsource/roboto";
import { ViewTransitions } from "astro:transitions";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        /* Colors */
        --white: #f0f0f0;
        --black: #0f0f0f;
        --bg-color: var(--black);

        --text-color: var(--white);
        --link-color: #db8fe2;
        --link-hover-color: #b324ab;

        --svg-bg-color: var(--black);
        --svg-stroke-color: var(--white);

        --outline-color: #0cf104;
        --outline: outline: 8px dashed var(--outline-color);

        /* Breakpoints */
        --xl: 1280px;
        --lg: 1024px;
        --md: 768px;
        --sm: 640px;

        --shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;

        font-size: 16px;
        color: var(--text-color);
        background-color: var(--bg-color);
      }

      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
      }

      html {
        font-family: "Roboto", Roboto, system-ui, Ubuntu, "Open Sans",
          sans-serif;
      }

      /* Disable horizontal scroll on mobile */
      :root,
      body {
        overflow-x: hidden;
        padding: 1rem;
      }
      /* Disable Safari overscroll */
      html,
      body {
        overscroll-behavior-y: none;
      }

      body {
        margin: 0 auto;
        max-width: var(--lg);
      }

      ul,
      li {
        list-style-type: none;
      }

      a {
        text-decoration: none;
      }
    </style>
  </body>
</html>
