:root {
  --bg-stripe1: #111129;
  --bg-stripe2: #0b0b25;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  height: 100%;
  padding: 32px;
  box-shadow: inset 0 0 100px black;
  background-image: url("/bg.png");
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
